{

    "plugins": [
        // "@babel/plugin-transform-classes"
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose" : true }]        
    ]

    // "plugins": [
    //     // "@babel/plugin-transform-typescript",
    //     ["@babel/plugin-proposal-decorators", {
    //         "legacy": true
    //     }]
    //     // ["globals", {
    //     //     "globalName": "myGlobal"
    //     // }]
    // ],
    // "presets": [
    //     ["env", {
    //         "modules": "true"
    //     }]
    // ],
}